@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-areas: "header header header"
    "main main aside"
    "footer footer footer";
}

header{
    grid-area: header;
    border-bottom: 1px solid black;
}

main{
    grid-area: main;
    margin-top: 5%;
    margin-bottom: 5%;
    min-height: 100vh;
}

aside{
    grid-area: aside;
}

footer {
    grid-area: footer;
}

  header a {
    color: #110e0e;
    text-decoration: none;
    transition: 0.3s;
  }
  
  header a:hover {
    color: #4ab5fc;
    text-decoration:overline;
  }
  
  header .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 8vh;
  
  }
  
  header .nav-list {
    list-style: none;
    display: flex;
  }
  
  header .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
  }
  
  header .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  header .mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
  }

  header .dropdown_publi{
    position: relative;
    display: inline-block;
  }

  header .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  header .dropdown-content a{
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
  }

  header .dropdown-content a:hover {background-color: #ddd;}

  .dropdown_publi:hover .dropdown-content {display: block;}


  @media screen and (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    header .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100%;
      height: 100%;
      background: black;
      flex-direction: column;
      margin-left: 20px;
      align-items: left;
      transform: translateX(100%);
      transition: transform 0s ease-in;
    }
    header .nav-list li {
      margin-top: 20px;
      opacity: 0;
      font-size: 20px
    }
    header .mobile-menu {
      display: block;
    }
  
    header a {
      color: white;
    }
  
    header .logo{
      color: black;
    }

    .header.mobile-menu-open {
        background-color: black;
      }
    .header.mobile-menu-open a {
        color: white;
    }

    .header.mobile-menu-open .mobile-menu div{
        background-color: white;
    }

    header .dropdown-content {
      position: static;
      display: none;
      background-color: #4e4d4d;
    }
    header .dropdown-content a:hover {background-color: #242323;}

    .dropdown_publi:hover .dropdown-content {display: none;}

  }
  
  header .nav-list.active {
    transform: translateX(0);

  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  header .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  header .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  header .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

/* editando o aside    */
.aside-container {
  padding: 6rem 2rem;
}

.aside-img{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(1,1fr);
  gap: 5rem;
}

.aside-conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.aside-conteudo p{
  font-size: 12px;
}
.aside-conteudo h3{
  font-size: 15px;
  color: #a8a29e;
}

/* linha */
.aside-line{
  width: 70px;
  height: 1px;
  border: solid 1px #a8a29e;
  border-radius: 20%;
}

/* tamanho das imagens */

#CET{
  width: 15rem;
}
#GRAFICO{
  width: 15rem;
}
#MOBILE{
  width: 15rem;
}
#INF{
  width: 15rem;
}

/* responsivo aside */

@media screen and (max-width: 999px) {
  .aside-container{
    #CET{
      width: 10rem;
    }
    #GRAFICO{
      width: 10rem;
    }
    #MOBILE{
      width: 10rem;
    }
    #INF{
      width: 10rem;
    }
    
  }
}

@media screen and (max-width: 700px) { 
  .aside-container {
    display: none;

  }
}

.footer-link {
    text-decoration: none;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 3rem 1.5rem;
}

.footer-contacts img{
    margin-bottom: 0.75rem;
    width: 15rem;
    border-radius: 4%;
}

.footer-media{
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    align-items: center;
}


.footer-media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.0rem;
    width: 2.0rem;
    color: #f5f5f5;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-media .footer-link i{ 
    font-size: 1.25rem;
}

.footer-media .footer-link:hover{
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#twitter {
    background-color: #1da1f2;
}

#youtube {
    background-color: #e71212;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #a8a29e;
    transition: all 0.4s;
}

.footer-email {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.footer-email .footer-text-email {
    color: #2316d6;
}

.footer-inp {
    display: flex;
    align-items: center;
    background-color:#dadada;
    border-radius: 4px;
    width: 75%;
    font-size: small;
}

.footer-inp input {
    all: unset;
    padding: 0.55rem;
    width: 100%;
}

.footer-inp button {
    background-color: #000000;
    border: none;
    color:#ffffff ;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

.footer-inp button:hover {
    opacity: 0.8;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) { 
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}

/* INICIO */

.inicio{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 5%; 
  margin-top: 5%;
  gap: 70px;

}

.inicio h1{
  font-size: 50px;
  letter-spacing: 2px;
  text-align: center;
}

.inicio h1 span{
  color: #1da1f2;
}

.texto_inicio{
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
  border-left: 2px solid black ;
  padding-left: 2%;
}


.bloco{
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-right: 10%;
  margin-left: 10%;


}

.bloco img{
  width: 100%;
  height: 50%;
  align-self: center;
}

.mais{
    display: inline-block;
    padding: 10px;
    max-width: 50%;
    text-align: center;
    align-self: center;
    background-color:#1da1f2;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
  
}

.mais:hover{
  background-color:#1da0f2c0;
  color: white;
}

.nav-list li a.selected {
  color: #4ab5fc;
  pointer-events: none; /* Impede eventos de mouse no elemento */
  cursor: default; /* Define o cursor como padrão */
}