@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
/*Cores principais*/
:root {
    --color-primary: rgb(23, 71, 110);
    --color-primary-hover: rgb(203, 225, 233);
    --color-light-grey: #f5f5f5;
    --color-light-black: #191919;
    --color-white: #ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


body {
    grid-template-areas: "header header header"
    "footer footer footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}
/*nav*/
header a {
  color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
header a:hover {
  color: #4ab5fc;
  text-decoration:overline;
  }
  
header .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 8vh;

  }
  
/* Nav-Header */ 

header .nav-list {
    list-style: none;
    display: flex;
  }
  
header .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
  }
  
header .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
header .mobile-menu div {
    width: 32px;
    height: 2px;
  background: black;
    margin: 8px;
    transition: 0.3s;
  }
  
header .dropdown_publi{
  position: relative;
  display: inline-block;
}
 
header .dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
header .dropdown-content a{
  color: black;
  text-decoration: none;
  padding: 12px 16px;
  display: block;
}
 
header .dropdown-content a:hover {background-color: #ddd;}
 
.dropdown_publi:hover .dropdown-content {display: block;}
 
@media screen and (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
  header .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100%;
      height: 100%;
      background: black;
      flex-direction: column;
      margin-left: 20px;
      align-items: left;
      transform: translateX(100%);
    transition: transform 0s ease-in;
    }
  header .nav-list li {
      margin-top: 20px;
      opacity: 0;
      font-size: 20px
    }
  header .mobile-menu {
      display: block;
    }
  
  header a {
      color: white;
    }
  
  header .logo{
      color: black;
    }
  
  .header.mobile-menu-open {
      background-color: black;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    
  .header.mobile-menu-open a {
      color: white;
  }
  
  .header.mobile-menu-open .mobile-menu div{
      background-color: white;
  }

  header .dropdown-content {
    position: static;
    display: none;
    background-color: #4e4d4d;
  }

  header .dropdown-content a:hover {background-color: #242323;}

  .dropdown_publi:hover .dropdown-content {display: none;}

}

header .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
header .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
header .mobile-menu.active .line2 {
    opacity: 0;
  }
  
header .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

/*landing page*/
#landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
} 
.background-overlay {
  background-color: #eee;
  opacity: 0.7;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/*Carrossel de imagens - background*/
.galery {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
.galery .fotos {
    width: 500%;
    animation-name: animacao;
    animation-duration: 30s;
    animation-iteration-count: infinite; 
    display: flex;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
  }

.galery .fotos img {
    width: 19.9%;
}
@keyframes animacao {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100% ;}
    50% { margin-left: -200% ;}
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    95% { margin-left: -300%; }
    100% { margin-left: -400%; }
}
/*Textos*/
/*Título principal*/
.content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
}
.content #landing-page-content {
  text-align:center;
  font-size: 300%;
  text-transform: uppercase;
  color: rgb(44, 44, 44);
  text-shadow: 1px 1px rgb(44, 44, 44);
  display: flex;
  height: auto;
}

/*Textos do formulário*/
.texto-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.texto-form-titulo{
    text-align: center;
    font-size: 170%;
    color: rgb(44, 44, 44);
    font-weight: bolder;
}
.texto-form-paragrafo{
    text-align: center;
    font-size: 98%;
    color: rgb(46, 41, 41);
}

.texto{
    display: inline-block;
    text-align:center;
    width: 70%;
    align-items: center;
    vertical-align: middle;

}

.caixa-formulario{
    display: flex;
    justify-content:center ;
}

.formulario {
    border: 2px solid black;
    background-color: white;
    width: 300px;
    height: 55px;
    font-size: 17px;
    padding: 15px;
    /*box-shadow: 1px 1px 1px  #1b3a6e;*/
    border-radius: 15px;
    margin-top: 20px;
    
}
.texto-form-botao {
  background-color: black;
  color: #f3fbfb;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 11px;
  box-shadow: 2px 2px 2px var(--color-primary);
  width: 100px;
  height: 45px;
  font-size: 17px;
  margin-top: 10px;
}
@media screen and (max-width: 1150px) {
  main {
  padding: 0%;
  }
  .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    
  }
  #landing-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  }
  h2 {
  font-size: 120%;
  text-align: center;
  }
  .texto-formulario {
  justify-content: center;
  display: flex;
  flex-direction: column;
  }
}
  .texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  .nav-list li a.selected {
    color: #4ab5fc;
    pointer-events: none; /* Impede eventos de mouse no elemento */
    cursor: default; /* Define o cursor como padrão */
}