@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    grid-template-areas: "header header header"
    "main main aside"
    "footer footer footer";
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

footer {
    grid-area: footer;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: #333; */
}

.footer-container {
    /* display: grid;
    grid-template-columns: repeat(4,1); */
    background-color: red;
    padding: 40px 100px 50px;
}

.footer-media{
    background-color: blue;
    margin-bottom: 20px;
}

.footer-media i{
    /* display: flex;
    justify-content: column;
    align-items: center; */
    font-size: 25px;
    margin: 8px;
    cursor: pointer;
}

.footer-links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.footer-links a{
    color: #ffff;
    text-decoration: none;
    margin: 30px;
    font-size: 15px;
}

.footer-coppy{
    display: flex;
    justify-content: flex-end;
    padding: 8px 8px 8px;
    background-color: rgb(128, 123, 123);
}


.line{
    background-color: aliceblue;
    width: 90px;
    height: 6px;
    margin-top: 5px;
    border-radius: 40px;
    position: relative;
    animation: underline-animation 4s infinite;
}

@keyframes underline-animation{
    0%{
        left: -90px;
        opacity: 0;
    }

    50%{
        opacity: 2%;
    }

    100%{
        left: 820px;
    }
}