@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";
}

header{
    grid-area: header;
}

main {
  grid-area: main;
  margin: 50px;
}

 /* geral de noticias */
.main-noticias {
  display: flex;
  flex-direction: column;
  align-items:baseline;
}

.main-noticias-titulo {
  font-size: 35px;
  color: rgb(23, 71, 110);
  margin-top: 50px;
}

.main-noticias-titulo:hover {
  color:#4267b3;
}


.main-noticias-paragrafo {
  font-size: 25px;
}

.main-noticias-texto {
  display: flex;
  flex-direction: column;
}

.main-noticias-info {
  font-size: 20px;
  color: gray;
}

/* primeira noticia */
#main-noticia1 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgb(23, 71, 110);
}

.main-noticias-imagem1 {
  width: 500px;
  margin: 20px;
}

/* segunda noticia */
#main-noticia2 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgb(23, 71, 110)
}

.main-noticias-imagem2 {
  width: 500px;
  margin: 20px;
}

/* terceira noticia */
#main-noticia3 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid rgb(23, 71, 110);
}

.main-noticias-imagem3 {
  width: 500px;
  margin: 20px;
}

/* quarta noticia */
#main-noticia4 {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.main-noticias-imagem4 {
  width: 500px;
  height: 225px;
  margin: 20px;
}

footer {
    grid-area: footer;
    border-top: 2px solid rgb(23, 71, 110);
}

  header a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  header a:hover {
    color: #4ab5fc;
    text-decoration:overline;
  }
  
  header .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    height: 8vh;
  
  }

/* Nav-Header */ 
  
  header .nav-list {
    list-style: none;
    display: flex;
  }
  
  header .nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
  }
  
  header .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  header .mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 8px;
    transition: 0.3s;
  }

  header .dropdown_publi{
    position: relative;
    display: inline-block;
  }

  header .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  header .dropdown-content a{
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
  }

  header .dropdown-content a:hover {background-color: #ddd;}

  header .dropdown_publi:hover .dropdown-content {display: block;}
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    header .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100%;
      height: 100%;
      background: black;
      flex-direction: column;
      margin-left: 20px;
      align-items: left;
      transform: translateX(100%);
      transition: transform 0s ease-in;
    }
    header .nav-list li {
      margin-top: 20px;
      opacity: 0;
      font-size: 20px
    }
    header .mobile-menu {
      display: block;
        }
  
    header a {
      color: white;
    }
  
    header .logo{
      color: black;
    }

    .header.mobile-menu-open {
        background-color: black;
      }
    .header.mobile-menu-open a {
        color: white;
    }

    .header.mobile-menu-open .mobile-menu div{
        background-color: white;
    }
  }
  
  header .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  header .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  header .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  header .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

/* Main-Team-Page */
  .main-team-page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 85px;
  }

  .main-team-incod {
    font-family: 'Roboto', sans-serif;  
    margin-top: 20px;
    gap: 10px;
  }
  .coord-team-ic {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .main-team-labtel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 25px;
  }

  .coord-team-lb, .inf-man, .dev-man, .sup-anl{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .att-team, .res-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sub-team {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 1150px;
  }

  .ph-photo-man{
    align-items: center;
    width: 350px;
  }

  .name-serv {
    color: #110e0e;
  }

  .ind-serv {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  .responsive-labtel{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .responsive-res {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .responsive-att {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .line-separation-m {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #00000079;
    width: 300px;
    height: 5px;
    border-radius: 20px;
  }

  .line-separation {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #00000079;
    width: 500px;
    height: 5px;
    border-radius: 20px;
  }

  @media screen and (max-width: 1150px) {
    .sub-team{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .responsive-res {
      display: flex;
      flex-direction: column;
    }

    .line-separation {
      width: 300px;
    }
  }

  @media screen and (max-width: 800px) {
    .sub-team{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .responsive-res {
      display: flex;
      flex-direction: column;
    }
    .responsive-att {
      display: flex;
      flex-direction: column;
    }
    .responsive-labtel {
      display: flex;
      flex-direction: column;
    }
  }

  /* Footer */
.footer-link {
    text-decoration: none;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 3rem 1.5rem;
}

.footer-contacts img{
    margin-bottom: 0.75rem;
    width: 15rem;
    border-radius: 4%;
}

.footer-media{
    display: flex;
    gap: 2rem;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    align-items: center;
}


.footer-media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.0rem;
    width: 2.0rem;
    color: #f5f5f5;
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-media .footer-link i{ 
    font-size: 1.25rem;
}

.footer-media .footer-link:hover{
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#twitter {
    background-color: #1da1f2;
}

#youtube {
    background-color: #e71212;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: #a8a29e;
    transition: all 0.4s;
}

.footer-email {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
.footer-email .footer-text-email {
    color: #d66316;
}

.footer-inp {
    display: flex;
    align-items: center;
    background-color:#dadada;
    border-radius: 4px;
    width: 75%;
    font-size: small;
}

.footer-inp input {
    all: unset;
    padding: 0.55rem;
    width: 100%;
}

.footer-inp button {
    background-color: #7f37c9;
    border: none;
    color:#1da1f2 ;
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

.footer-inp button:hover {
    opacity: 0.8;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}

@media screen and (max-width: 768px) {
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) { 
    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}